html {
    cursor: url("./toroinoue.ico"), auto;
    height: 100%;
}

body {
    background-image: url("./color-stars.gif");
    height: 100%;
}

.root {
    height: 100%;
    margin: 0;
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.title {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;

    text-align: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.table-element {
    margin: 1rem 1rem;
    text-align: center;
}

.down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dialog-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dialog-box {
    position: absolute;
    z-index: 10;
    top: 35%;
}